* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;

    --color-base-white: #FFFFFF;
    --color-base-black: #161513;
    --color-base-gray: #222;
}

body {
    background: var(--color-base-black);

}